<%= form_with(model: task, class: "form") do |form| %>
  <%= render "shared/errors", record: task %>

  <div class="form-field">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div class="form-field">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div class="form-field">
    <%= form.label :assignee_id, style: "display: block" %>
    <%= form.select :assignee_id, User.all.map { |user| [user.nickname, user.id] }, { include_blank: true, selected: task.assignee_id || current_user.id }, class: "" %>
  </div>

  <% if action_name.in? %w[new create] %>
    <div data-controller="duplicator">
      <%= render "task_performance_form", task: task %>

      <div class="flex justify-between mt-4">
        <button type="button" class="btn btn-success" data-action="click->duplicator#duplicate touch->duplicator#duplicate">
          <%= t(".add_performance") %>
        </button>
        <%= form.submit nil, class: "btn btn-primary" %>
      </div>
    </div>
  <% else %>
    <%= form.submit nil, class: "btn btn-primary" %>
  <% end %>
<% end %>
