<div id="<%= dom_id task_set %>" class="space-y-2">
  <div>
    <h5><%= TaskSet.human_attribute_name(:title) %></h5>
    <p><%= task_set.title %></p>
  </div>
  <% if task_set.description.present? %>
    <div>
      <h5><%= TaskSet.human_attribute_name(:description) %></h5>
      <p><%= task_set.description %></p>
    </div>
  <% end %>
</div>
