<div id="<%= dom_id task_performance %>" class="card card-lg space-y-4">
  <div class="flex justify-between">
    <div>
      <h5><%= TaskPerformance.human_attribute_name(:start_at) %></h5>
      <p class="text-xs italic">
        <%= datetime_format task_performance.start_at %><br>
        <%= datetime_format task_performance.start_at %>
      </p>
    </div>
    <div class="text-right">
      <h5><%= TaskPerformance.human_attribute_name(:end_at) %></h5>
      <p class="text-xs italic">
        <%= datetime_format task_performance.end_at %><br>
        <%= datetime_format task_performance.end_at %>
      </p>
    </div>
  </div>

  <% if task_performance.comment.present? %>
    <div>
      <h5 class="mb-1"><%= TaskPerformance.human_attribute_name(:comment) %></h5>
      <div class="border rounded-xl px-4 py-2 italic">
        <%= task_performance.comment %>
      </div>
    </div>
  <% end %>

  <% if policy(task_performance).complete? %>
    <%= render "complete_form", task_performance: task_performance %>
  <% end %>

  <% if policy(task_performance).destroy? %>
    <%= button_to "Delete", task_performance_path(task, task_performance),
                            method: :delete,
                            class: "btn btn-danger",
                            data: { turbo_confirm: t("are_you_sure") } %>
  <% end %>
</div>
