<%
  aside_css = "fixed z-10 top-0 -left-60 bg-white lg:static w-60 h-full p-1 flex-shrink-0 border-r"
  nav_css = "h-full overflow-y-auto"
  link_css = "flex items-center py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-gray-100 transition duration-300 ease-in-out"
  icon_css = "w-5 h-5 mr-3"
%>

<aside id="sidenav" class="<%= aside_css %>" data-sidenav-target="sidenav">
  <nav class="<%= nav_css %>">
    <%= link_to root_path, class: link_css do %>
      <i class="fa-solid fa-table-columns <%= icon_css %>"></i>
      <span><%= t(".dashboard") %></span>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to tasks_path, class: link_css do %>
        <i class="fa-solid fa-list-check <%= icon_css %>"></i>
        <span><%= t(".tasks") %></span>
      <% end %>
      <%= link_to projects_path, class: link_css do %>
        <i class="fa-solid fa-diagram-project <%= icon_css %>"></i>
        <span><%= t(".projects") %></span>
      <% end %>
      <%= link_to edit_profile_path, class: link_css do %>
        <i class="fa-solid fa-address-card <%= icon_css %>"></i>
        <span><%= t(".profile") %></span>
      <% end %>
      <%= button_to destroy_user_session_path,
                    method: :delete,
                    data: { turbo: false },
                    form_class: "w-full",
                    class: "w-full #{link_css} text-red-700 hover:text-red-900 hover:bg-red-100" do %>
        <i class="fa-solid fa-right-from-bracket <%= icon_css %>"></i>
        <span><%= t(".sign_out") %></span>
      <% end %>
    <% end %>
  </nav>
</aside>
