<%= form_with(model: project, class: "form", id: "new-project-form") do |form| %>
  <%= render "shared/errors", record: project %>

  <div class="form-field">
    <%= form.label :code, style: "display: block" %>
    <%= form.text_field :code, maxlength: 4, class: "uppercase" %>
  </div>

  <div class="form-field">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <%= form.submit nil, class: "btn btn-primary" %>
<% end %>
