<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>

  <body class="h-screen">
    <div class="h-full container m-auto flex lg:border-x" data-controller="sidenav">
      <%= render "shared/sidenav" %>
      <div class="flex-grow overflow-y-auto relative">
        <%= render "layouts/header" %>
        <div class="p-3">
          <%= render "shared/flashes" %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
